*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
a{
  color: black;
  text-decoration:none;
}
.error-button{
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  transition: all .1s ease;
  background-color: hsl(172, 44%, 47%);
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.add,.go-to-home{
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  transition: all .1s ease;
  background-color: hsl(172, 44%, 47%);
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.add:hover{
  transform: scale(1.05);
  background-color: hsl(172, 44%, 40%);
}
.error-button:hover{
  transform: scale(1.05);
  background-color: hsl(172, 44%, 40%);
}
.go-to-home:hover{
  transform: scale(1.05);
  background-color: hsl(172, 44%, 40%);
}
.user-container{
  width: 50%;
  margin: 0 auto;
  background-color: hsl(172, 44%, 47%);
  margin-bottom: 5px;
  padding: 15px 20px;
  border-radius: 8px;
  transition: all .1s ease;
  color: white;
}
h1{
  color: hsl(172, 50%, 46%);
  text-align: center;
}
.user-container:hover{
  background-color: hsl(172, 44%, 40%);
  transform: scale(1.02);
}

.single-user-container{
  width: 50%;
  margin: 0 auto;
  background-color: hsl(172, 44%, 39%);
  margin-top: 40px;
  padding: 15px 20px;
  border-radius: 8px;
  transition: all .1s ease;
  color: white;
}
.single-user-container:hover{
  background-color: hsl(172, 44%, 30%);
  transform: scale(1.02);
}

@keyframes animate {
  0%{
    background-color: hsl(0, 79%, 89%);
  }
  100%{
    background-color: hsl(0, 6%, 53%);
  }
}
.skeleton{
  width: 50%;
  margin: 0 auto;
  background-color: gray;
  height: 150px;
  border-radius: 8px;
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}
button{
  cursor:pointer;
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

form input{
  width:100%;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius:4px;
  border:2px solid hsl(172, 46%, 36%);
  outline:none;
  background-color: hsl(0, 0%, 100%);
}
form input::placeholder{
  color: hsl(172, 46%, 35%);

}